/* ---------------------------------------------------
    COLORS
----------------------------------------------------- */

:root {
  --dark: #0B0F31;
  --dark-light: #252B60;
  --dark-white: #ECEAF5;
  --dark-grey: #B0B0C3;

  --state-error: #F63A5C;
  --state-error-hover: #AF263F;
  --state-error-background: #F8D4D8;
  --state-sucess: #277A52;
  --state-sucess-hover: #0D3824;
  --state-sucess-background: #D4F8DE;
  --state-help: #17C7EB;
  --state-help-hover: #1796AF;
  --state-help-background: #D4F2F8;
  --state-help-dark: #061A1E;
  --state-problem: #FC9535;
  --state-problem-hover: #BF732B;
  --state-problem-background: #F8EAD4;

  --primary: #E73355;
  --primary-hover: #BB2D48;
  --primary-background: #F8D4DA;

  --secondary: #38BDE2;
  --secondary-hover: #2A98B7;
  --secondary-background: #D0E7F3;

  --white: #FFFFFF;

  --black: #222222;
  --black-hover: #111111;
  --black-background: #E1E1E1;

  --gray-box-hover: #AFAFAF;
  --gray-border: #D3D3D3;
  --gray-border-light: #E0E0E0;
  --gray: #5C5C6C;
  --gray-placeholder: #ADADAD;
  
  --spacing-40: 2.5rem;
  --spacing-32: 2rem;
  --spacing-24: 1.5rem;
  --spacing-16: 1rem;
  --spacing-8: 0.5rem;

  --border-default: 0.0625rem solid var(--gray);
  --border-active: 0.125rem solid var(--gray);

  --radius-round: 100%;
  --radius-small: 0.5rem;

  --shadow-default: 0.25rem 0.25rem 0.75rem rgba(31, 28, 28, 0.08);
  --shadow-active: 0.25rem 0.25rem 0.75rem rgba(31, 28, 28, 0.12);
}

/* ---------------------------------------------------
    TYPOGRAPHY
----------------------------------------------------- */


h1 {
  font-family: 'CircularStd';
  font-style: normal;
  font-weight: 800;
  font-size: 2.5rem;
  line-height: 120%;
  color: var(--black);
}

h2 {
  font-family: 'CircularStd';
  font-style: normal;
  font-weight: 700;
  font-size: 2rem;
  line-height: 120%;
  color: var(--black);
}

h3 {
  font-family: 'CircularStd';
  font-style: normal;
  font-weight: 600;
  font-size: 1.5rem;
  line-height: 120%;
  color: var(--black);
}

h4 {
  font-family: 'CircularStd';
  font-style: normal;
  font-weight: 600;
  font-size: 1.25rem;
  line-height: 120%;
  color: var(--black);
}

.paragraph-big {
  font-family: 'CircularStd';
  font-style: normal;
  font-weight: 600;
  font-size: 1.125rem;
  line-height: 120%;
  color: var(--black);
}

.paragraph {
  font-family: 'CircularStd';
  font-style: normal;
  font-weight: 500;
  font-size: 1rem;
  line-height: 120%;
  color: var(--black);
}

.paragraph-small {
  font-family: 'CircularStd';
  font-style: normal;
  font-weight: 500;
  font-size: 13px;
  line-height: 120%;
  color: var(--black);
}