/* ---------------------------------------------------
    COLORS
----------------------------------------------------- */

body {
  --dark: #0B0F31;
  --dark-light: #252B60;
  --dark-white: #ECEAF5;
  --dark-grey: #B0B0C3;

  --state-error: #F63A5C;
  --state-error-hover: #AF263F;
  --state-error-background: #F8D4D8;
  --state-sucess: #277A52;
  --state-sucess-hover: #0D3824;
  --state-sucess-background: #D4F8DE;
  --state-help: #17C7EB;
  --state-help-hover: #1796AF;
  --state-help-background: #D4F2F8;
  --state-help-dark: #061A1E;
  --state-problem: #FC9535;
  --state-problem-hover: #BF732B;
  --state-problem-background: #F8EAD4;

  --primary: #E73355;
  --primary-hover: #BB2D48;
  --primary-background: #F8D4DA;
  --primary-disabled: #F399AA;

  --secondary: #38BDE2;
  --secondary-hover: #2A98B7;
  --secondary-background: #D0E7F3;

  --white: #fafafafa;

  --black: #222222;
  --black-hover: #111111;
  --black-background: #E1E1E1;

  --gray-box-hover: #AFAFAF;
  --gray-border: #bebebe; //a edit sur design system
  --gray-border-light: #E0E0E0;
  --gray: #5C5C6C;
  --gray-placeholder: #6b6b6e; //a edit sur design system
  
  --spacing-40: 2.5rem;
  --spacing-32: 2rem;
  --spacing-24: 1.5rem;
  --spacing-16: 1rem;
  --spacing-8: 0.5rem;

  --border-default: 0.0625rem solid var(--gray-border);
  --border-active: 0.0625rem solid var(--gray);

  --radius-round: 50px;
  --radius-small: 0.5rem;

  --shadow-default: 0.25rem 0.25rem 0.75rem rgba(31, 28, 28, 0.08);
  --shadow-active: 0.25rem 0.25rem 0.75rem rgba(31, 28, 28, 0.12);

  --filter-primary: invert(44%) sepia(80%) saturate(6382%) hue-rotate(333deg) brightness(96%) contrast(89%);
  --filter-primary-hover: invert(44%) sepia(80%) saturate(6382%) hue-rotate(333deg) brightness(80%) contrast(100%);

  --base-height: 3rem;

  --transition-small: all 0.150s ease-in-out;
}

body.dark-theme {
  --white: #0B0F31;
  --black: #ECEAF5;
  --gray: #B0B0C3;
}

/* ---------------------------------------------------
    TYPOGRAPHY
----------------------------------------------------- */

h1 {
  font-style: normal;
  font-weight: 800;
  font-size: 2.5rem;
  line-height: 120%;
  color: var(--black);
}

h2 {
  font-style: normal;
  font-weight: 700;
  font-size: 2rem;
  line-height: 120%;
  color: var(--black);
}

h3 {
  font-style: normal;
  font-weight: 600;
  font-size: 1.5rem;
  line-height: 120%;
  color: var(--black);
}

h4 {
  font-style: normal;
  font-weight: 600;
  font-size: 1.25rem;
  line-height: 120%;
  color: var(--black);
}

.paragraph-big {
  font-style: normal;
  font-weight: 600;
  font-size: 1.125rem;
  line-height: 120%;
  color: var(--black);
}

.paragraph {
  font-style: normal;
  font-weight: 500;
  font-size: 1rem;
  line-height: 120%;
  color: var(--black);
}

.paragraph-small {
  font-style: normal;
  font-weight: 500;
  font-size: 0.8125rem;
  line-height: 120%;
  color: var(--black);
}

/* ---------------------------------------------------
    BUTTONS
----------------------------------------------------- */

.btn {
  padding: 0 1.25rem;
  transition: var(--transition-small);
  font-size: 1rem;
  font-weight: 500;
  border: none;
  cursor: pointer;
  border-radius: var(--radius-round);
  height: var(--base-height);
  line-height: var(--base-height);
  display: flex;
  align-items: center;
  justify-content: center;
}

.btn-primary {
  background-color: var(--primary);
  color: white;

  &:hover {
    background-color: var(--primary-hover);
  }

  &:disabled {
    cursor: not-allowed;
    opacity: 0.5;
  }
}

.btn-secondary {
  background-color: transparent;
  border: 0.0625rem solid var(--primary);
  color: var(--primary);

  img {
    transition: var(--transition-small);
    filter: var(--filter-primary)
  }

  &:hover {
    color: var(--primary-hover);
    border-color: var(--primary-hover);

    img {
      filter: var(--filter-primary-hover) !important;
    }
  }

  &:disabled {
    cursor: not-allowed;
    opacity: 0.5;
  }
}

.btn-icon-left img {
  margin-right: 0.625rem;
  height: 0.8125rem;
}

.btn-icon-right img {
  margin-left: 0.625rem;
  height: 0.8125rem;
}

.btn-fullwidth {
  width: 100%;
}

.btn-slider {
  display: flex;
  width: min-content;
  flex-direction: row;
  margin: 0rem;

  .btn-slider-left {
    border-radius: var(--radius-round) 0rem 0rem var(--radius-round);
  }

  .btn-slider-right {
    border-radius: 0rem var(--radius-round) var(--radius-round) 0rem ;
  }
}

.btn-slider-icons img {
  margin: 0rem;
}

/* ---------------------------------------------------
    INPUTS
----------------------------------------------------- */

input[type='text'], input[type='date'], input[type='email'], input[type='password'] {
  width: 100%;
  height: var(--base-height);
  border: var(--border-default);
  border-radius: var(--radius-round);
  outline: none;
  padding-left: 1.25rem;
  padding-right: 1.25rem;
  color: var(--black);
  font-size: 16px;
  transition: var(--transition-small);
  -webkit-appearance: none;
  -moz-appearance: none;

  &:hover, &:focus {
    border: var(--border-active) !important;
  }

  &:disabled {
    cursor: not-allowed;
    opacity: 0.5;
  }

  &:disabled:hover {
    border: var(--border-default);
  }

  &::placeholder {
    color: var(--gray-placeholder);
  }

  &::-webkit-input-placeholder {
    color: var(--gray-placeholder);
    opacity: 1;
  }

  &::-moz-placeholder {
    color: var(--gray-placeholder);
    opacity: 1;
  }

  &:-moz-placeholder {
    color: var(--gray-placeholder);
    opacity: 1;
  }
}

textarea {
  height: auto !important;
  resize: none;
  padding: 0.9375rem;
  border-radius: var(--radius-big);
}


/* ---------------------------------------------------
    TAG
----------------------------------------------------- */

.tag {
  text-transform: uppercase;
  border-radius: var(--radius-small);
  display: flex;
  align-items: center;
  justify-content: center;
}

.tag-small {
  height: 24px;
  font-size: 12px;
  padding: 0px 9px;
  font-weight: 600;

  .tag-icon-right, .tag-icon-left {

  }
}

.tag-medium {
  height: 28px;
  font-size: 12px;
  padding: 0px 9px;
  font-weight: 600;

  .tag-icon-right, .tag-icon-left {
    
  }
}

.tag-big {
  height: 36px;
  font-size: 14px;
  padding: 0px 12px;
  font-weight: 700;

  .tag-icon-right, .tag-icon-left {
    
  }
}

.tag-icon-left {

}

.tag-icon-right {

}


.tag-red {
  background-color: var(--primary-background);
  color: var(--primary);

  .tag-icon-right, .tag-icon-left {
    
  }
}

.tag-green {
  background-color: var(--state-sucess-background);
  color: var(--state-sucess);

  .tag-icon-right, .tag-icon-left {
    
  }
}

.tag-blue {
  background-color: var(--secondary-background);
  color: var(--secondary);

  .tag-icon-right, .tag-icon-left {
    
  }
}

.tag-gray {
  background-color: var(--black-background);
  color: var(--black);

  .tag-icon-right, .tag-icon-left {
    
  }
}

.tag-yellow {
  background-color: var(--state-problem-background);
  color: var(--state-problem);

  .tag-icon-right, .tag-icon-left {
    
  }
}