<div class="container">

  <div style="display: flex; justify-content: space-between; width: 100%;">
    <h4>Brainsight - Charte graphique</h4>

    <button (click)="toggleDarkTheme()">Dark theme</button>
    <button (click)="toggleWhiteTheme()">Light theme</button>
  </div>

  <div class="separator-2"></div>

  <!---- TYPOGRAPHY -------------------------------------------------->

  <h1>Titre primaire</h1>
  <div class="separator"></div>
  <h2>Titre secondaire</h2>
  <div class="separator"></div>
  <h3>Titre de cartes strong</h3>
  <div class="separator"></div>
  <h4>Titre de cartes light</h4>
  <div class="separator"></div>
  <p class="paragraph-big">Paragraphes strong</p>
  <div class="separator"></div>
  <p class="paragraph">Paragraphes</p>
  <div class="separator"></div>
  <p class="paragraph-small">Paragraphes small</p>

  <div class="separator-2"></div>

  <!---- BUTTONS -------------------------------------------------->

  <div class="all-content">
    <button class="btn btn-primary">Primary</button>
    <button class="btn btn-secondary">Secondary</button>
    <button class="btn btn-primary" disabled>Primary disabled</button>
    <button class="btn btn-secondary" disabled>Secondary disabled</button>

    <button class="btn btn-primary btn-icon-left">
      <img src="../../assets/icons/arrow-left.svg">
      Primary icon
    </button>
    <button class="btn btn-secondary btn-icon-right">
      Secondary icon
      <img src="../../assets/icons/arrow-right.svg">
    </button>

    <div class="btn-slider">
      <button class="btn btn-secondary btn-icon-left btn-slider-left">
        <img src="../../assets/icons/arrow-left.svg">
        Right
      </button>
      <button class="btn btn-primary btn-icon-right btn-slider-right">
        Left
        <img src="../../assets/icons/arrow-right.svg">
      </button>
    </div>
    <div class="btn-slider btn-slider-icons">
      <button class="btn btn-secondary btn-icon-left btn-slider-left">
        <img src="../../assets/icons/arrow-left.svg">
      </button>
      <button class="btn btn-primary btn-icon-right btn-slider-right">
        <img src="../../assets/icons/arrow-right.svg">
      </button>
    </div>
  </div>

  <div class="separator-2"></div>

  <!---- INPUTS -------------------------------------------------->

  <input type="text" placeholder="Placeholder">

  <div class="separator"></div>

  <input type="text" placeholder="test" disabled>


</div>