<div class="container">
  <!---- TYPOGRAPHY -------------------------------------------------->

  <h1>Lorem ipsum dolor sit amet consectetur.</h1>
  <h2>Lorem ipsum dolor sit amet.</h2>
  <h3>Lorem ipsum dolor sit.</h3>
  <h4>Lorem, ipsum dolor.</h4>
  <p class="paragraph-big">Lorem ipsum dolor sit amet consectetur adipisicing elit. Eaque, eveniet.</p>
  <p class="paragraph">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Sequi, cumque.</p>
  <p class="paragraph-small">Lorem ipsum dolor sit amet consectetur adipisicing elit. Nam, autem?</p>


</div>